/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #EB5160;
    height: 44px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-navbar {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.com-navbar {
    visibility: hidden;
    display: none;
}

.navbar li {
    margin: 0 1rem;
    transition: 150ms ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 150ms ease-in-out;
}

.navbar a:hover {
    color: black;
}

.navbar-logo {
    width: 44px;
    height: 44px;
    fill: white;
}

.navbar-logo:hover {
    fill: black;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 16
}

.container-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20rem;
}

.top-nav {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.top-nav h3 {
    margin-bottom: 1rem;
    font-size: 14px;
}

.top-nav h3 a {
    text-decoration: none;
    color: black;
}

.top-nav h2 {
    font-weight: 500;
}

.container {
    display: flex;
    gap: 5%;
}

.container-item {
    border: 1px solid #c7c7c7;
    width: 55%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.container-info {
    width: 35%;
}

.info {
    border: 1px solid #c7c7c7;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}

#buy {
    width: 100%;
    height: 40px;
    margin-top: 1rem;
}

.jacket {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.jacket-img {
    height: 100px;
}

.color-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-name svg {
    margin-bottom: 0.5rem;
}

#size {
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.buttons div {
    display: flex;
    gap: 5px;
}

.category-button-style {
    background-color: white;
    font-size: 14px;
    border: 1px solid black;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.btn-order {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 2rem;
}

.btn-order:nth-child(1):focus {
    background-color: #071013;
    color: white;
}

.btn-order:nth-child(2):focus {
    background-color: #071013;
    color: white;
}

.info hr {
    width: 100%;
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ededed;
}

.info h2 {
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.info p {
    font-size: 14px;
}

.small-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.2rem;
}

#discount {
    text-decoration: underline;
    align-self: flex-start;
    margin-top: 2rem;
}

.total {
    font-weight: 600;
}

#buy {
    background-color: #00A676;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#buy:hover {
    background-color: #007856;
}

.footer-container {
    display: flex;
    width: 100%;
    height: 400px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #071013;
    margin-top: 20%;
}

.footer-container-info {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0 1rem;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.footer-info li {
    margin-top: 0.5rem;
}

.footer-info a {
    color: white;
}

#footer-logo {
    box-sizing: content-box;
    width: 200px;
}

@media screen and (max-width: 1672px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .container-info {
        min-width: 498px;
    }

    .container-item {
        min-width: 480px;
    }

    .top-nav {
        align-items: center;
    }
}

@media screen and (max-width: 840px) {

    .container-main {
        margin: 0;
    }

    .full-navbar {
        visibility: hidden;
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .com-navbar {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .com-navbar-icons {
        display: flex;
    }

    .footer-container {
        background-color: #071013;
    }

    #back {
        display: none;
    }

    .top-nav h2 {
        min-width: 150px;
    }

    .container-info {
        min-width: 398px;
    }

    .container-item {
        min-width: 380px;
    }

    #size {
        margin-right: 1rem;
    }
}