/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #EB5160;
    height: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-navbar {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.com-navbar {
    visibility: hidden;
    display: none;
}

.navbar li {
    margin: 0 1rem;
    transition: 150ms ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar a:hover {
    color: black;
}

.navbar-logo {
    width: 44px;
    height: 44px;
    fill: white;
}

.navbar-logo:hover {
    fill: black;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 16
  }

.main-container {
    background-image: url(../images/cover-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.main-container-background {
    background-color: white;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}

.category-button {
    display: flex;
    gap: 18px;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    justify-content: flex-start;
    align-self: center;
    width: 80%;
}

.category-button-style {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    font-size: 16px;
}

#back-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    font-weight: 500;
    color: black;
}

.jackets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 80%;
    max-width: 70%;
}

.jackets-container-item {
    background-color: #EDEDED;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms ease-in-out;
}

.jackets-container-item:hover {
    box-sizing: content-box;
    background-color: white;
    box-shadow: 0px 0px 8px #b9b9b9;
}

.jackets-container-item img {
    width: auto;
    height: 80%;
}

.jackets-info {
    line-height: 1.5;
    margin-top: 0.5rem;
}

.jackets-title {
    font-weight: 500;
}

hr {
    border: none;
    border-top: 3px solid #EDEDED;
    width: 60%;
    margin: 1.5rem 0;
}

.button-main-style {
    color: white;
    background-color: #071013;
    border: none;
    width: 13rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 300ms ease-in-out;
    margin-bottom: 5rem;
}

.button-main-style:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px #EB5160;
}

.footer-container {
    display: flex;
    width: 100%;
    height: 400px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #071013;
}

.footer-container-info {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0 1rem;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.footer-info li {
    margin-top: 0.5rem;
}

.footer-info a {
    color: white;
}

#footer-logo {
    box-sizing: content-box;
    width: 200px;
}

@media screen and (max-width: 840px) {

    .full-navbar {
        visibility: hidden;
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .com-navbar {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .com-navbar-icons {
        display: flex;
    }

    .footer-container {
        background-color: #071013;
    }
}