/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Poppins', sans-serif;;
    font-size: 16px;
}

.navbar {
    background-color: #EB5160;
    height: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-navbar {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.com-navbar {
    visibility: hidden;
    display: none;
}

.navbar li {
    margin: 0 1rem;
    transition: 150ms ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar a:hover {
    color: black;
}

.navbar-logo {
    width: 44px;
    height: 44px;
    fill: white;
}

.navbar-logo:hover {
    fill: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 16
}

.cover-img-container {
    background-image: url(/images/cover-image.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-simple {
    width: 15em;
}

.main-container {
    margin: 5rem 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    gap: 18px;
}

.buttons-container button {
    color: white;
    background-color: #071013;
    border: none;
    width: 13rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 300ms ease-in-out;
    margin-bottom: 5rem;
}

.buttons-container buton:first-child {
    margin-left: 0;
}

.buttons-container buton:last-child {
    margin-right: 0;
}

.buttons-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px #EB5160;
}

.images-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-container {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.images-style {
    background-color: #071013;
    width: 300px;
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 300ms ease-in-out;
    min-width: 250px;
}

.images-style:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px #EB5160;
}

.images-style h2 {
    font-size: 2rem;
    font-weight: 800;
    background-color: #071013;
    border: 10px solid #071013;
    box-shadow: 8px 8px #EB5160;
}

.images-style:first-child {
    margin-left: 0;
}

.images-style:last-child {
    margin-right: 0;
}

#images-header {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    align-self: flex-start;
}

.images-style:nth-child(1) {
    background-image: url(/images/sport-running-img.jpg);
    background-size: cover;
    background-position: center;
}

.images-style:nth-child(2) {
    background-image: url(/images/sport-skiing-img.jpg);
    background-size: cover;
    background-position: 0% 90%;
}

.images-style:nth-child(3) {
    background-image: url(/images/sport-hiking-img.jpg);
    background-size: cover;
    background-position: 80% 0%;
}

.images-style:nth-child(4) {
    background-image: url(/images/sport-camping-img.jpg);
    background-size: cover;
    background-position: 50% 100%;
}

.footer-container {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50rem;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #071013;
}

.footer-container-info {
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0 1rem;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.footer-info li {
    margin-top: 0.5rem;
}

.footer-info a {
    color: white;
}

#footer-logo {
    box-sizing: content-box;
    width: 200px;
}

@media screen and (max-width: 1360px) {

    .images-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 50rem;
    }

    #images-header {
        align-self: center;
        margin: 2.5rem 0;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .buttons-container button {
        margin: 0;
    }

    .full-navbar {
        visibility: hidden;
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .com-navbar {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .com-navbar-icons {
        display: flex;
    }

    .footer-container {
        background-color: #071013;
    }
}

@media screen and (max-width: 700px) {
    .images-container {
        flex-direction: column;
        width: auto;
    }
}