:root {
    
    /* colors */
    --m-background-color: #fff;
    --m-primary-color: #071013;
    --m-secondary-color: #EB5160;
    --m-accent-color-one: #00A676;
    --m-accent-color-two: #B388EB;
    --m-accent-color-three: #EDEDED;

    font-family: 'Poppins', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

.m-navbar {
    display: flex;
    width: 100vw;
    height: 44px;
    justify-content: center;
    background-color: var(--m-secondary-color);
    position: fixed;
}

.m-navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.m-navbar li {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.m-navbar a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.m-navbar #home-icon img {
    width: 3.5em;
}

.material-symbols-outlined {
    color: white;
}

.cover-image {
    background: var(--m-accent-color-three);
    width: 100vw;
    height: 20rem;
    background-image: url(https://s3-alpha-sig.figma.com/img/1403/2fed/1eac1a196100639dc8fea8dc8e9810d6?Expires=1665360000&Signature=gFJ0jk241WrImtz69XR8Df6S~s8QH1zySrCo64~0MKSZbroseITcG4JGSLHDfaFxJt9uQmxHTqWDcb~m-NRN0qQTBbiQu9Tp7akUc3k0BeCdslXjLAm7DPETeRk~VvwPl4En6lKluM9qMk-gxpcfYU2G8yHalDwvVmc9RDJpoTx56HKfjQMLSCCL1EzA2qPo~WuqMC25yQrUqyZgmJPElwCiiT8icRESOGmjdBX5ZPEkkjL6PLaeocqagdxizE3XSfiOUOUeXkmUOkkZsKK9u7q9VH6HZiYlevf-yfgmb2a7H~eBDRjnTeKSs5AH7NcO6i-8TF74WJlJgZUrLhBErQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position-x: center;
    background-position-y: 110rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 5rem 0 0 0;
    width: 70vw;
    justify-content: space-between;
}

.container li {
    display: flex;
    background-color: var(--m-primary-color);
    width: 12rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.container a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.header {
    display: flex;
    align-self: flex-start;
    margin: 5rem 0 0 0;
}

.div-container {
    width: 70vw;
}

.sport-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.sport-container div {
    background: var(--m-accent-color-three);
    width: 24%;
    height: 20rem;
}

.sport-container div:nth-child(1) {
    background-image: url(https://s3-alpha-sig.figma.com/img/42e7/75db/e2e48fc3822e1a6bba811f154fcadd06?Expires=1665360000&Signature=XC2CovcKqogusd4yOT50nCwp6BjyFikAtZ0u0eJHHVtahTkR57wnEXNZnAhiXSkHu-iKZhRDWBGFRMT3RvaRBnc~RuRPRUIcW60ZmG11W-gSquqkwbmqLuAy69qqGbIZsWQaBEoKZCJ89UHpz~2cazAGVo2~~rN8xEEpBA04kRD7LEQfSMre9D-Z-jFwwv1UxA45fqKIWHPcEvt9dBmiu7jv4GdD2vcvpCoZ0-k1kQ~jgPb4AXoXIe1x8cqLkDHEDIl6NWG73~MgzThJ9DT8wZwRnj4uT7q4JGbHXmDrwSJrQuvi2GZufztwdN1IUqnemXoS4Wjl~CZHRCZavtLncQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    background-position: center;
}

.sport-container div:nth-child(2) {
    background-image: url(https://s3-alpha-sig.figma.com/img/b956/a47e/2a6f85555cc9e98fedf03f5e922381ae?Expires=1665360000&Signature=DrcM7UtTB7V1ls3ulmu69t17PZHVKUPsvIUyoW5J2QfV6cyK2kua~XWh-AK4ax6uZTiio8fJPOF52ORGQBlTzLQoI7~2jLTpN2yhRJ9yKlowY73FiSc5R637J4hUeB2k-9crhTyBfF2G2t79JT6gskVxFKlawpB5SNtkp2-jBduPchhphlV1uaNglCTRz5JaHjDo7TaE3EB1grBbdTUHM0ZI4rpDW5qQrAqfLOKloOe6uMmdwWZL7LyiOydmiL7a1FyjV0A8dKZ54YHW122uni9wcML4qB3m5kJAJCZ1V6kxuKKNtC-sQgtT7Q~es-MN~UZ4vssc240poX0jncvCJQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    background-position: center;
}

.sport-container div:nth-child(3) {
    background-image: url(https://s3-alpha-sig.figma.com/img/0f8a/8a7a/e6048e42509868e219bd0d012747459f?Expires=1665360000&Signature=gjLx88DxiIPcTg~ZE3-ArUcuZdJjxn9anzVQqoLmk-Od7SNraXgPaEkuZC6lYOZCb6Z8nMPbfilzWL6-EcnJHnYzsXDc4cHxCg~bB7vogWIp2ye4hKmHsn8npDCkv2KmbN1F3fn~WVeb~IUCYVtAWIIsjaNprjA5T3VKiIxQLRQEVXTgpawnsLxtx-Kf7PiPA4kTwKI0j4ZdgHy8omTOt2n6btx4RE8fLwuJpfQEmYkVYEz0yxEhb6szjrSUttN3-~Gaw1giDpF0KvdVJ-pUuS89qZ~l2OayMInM6NGgUL5YHl6m33g4xq-M7izIESgFZwtQqdmCVzuG1XqPPTqUZw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    background-position: center;
}

.sport-container div:nth-child(4) {
    background-image: url(https://s3-alpha-sig.figma.com/img/aff8/c6b6/2ff2ffc19316c4bf6f50fc7ba33f108e?Expires=1665360000&Signature=WTh6CoKGGq4bVCBxjne-K9GL3C2XfM7TyI6LpIjrG4Lmpru5Bf4N77BanQWDuKEfJm4hKIdkskwLs-VyDtH9ANq~RVR5Qivpe6qxqNJZ~~1ccxPLE5AL0gMDG7~OGGB5la~~WSdtEW1o3rRrXzkEL6SE0jSVlBIk9DQECN9X2Dug0skFdPuweEZ9F2QGlMsxIpby5Wt6ahwwI-c3-Dgc7W~lrEmVOnGLvurQ9hKHl-vC0GQD68dRUCbs22ZbZDhk~2O-trUNhQtQqm7ZmAUMbueXW~QO2aT5ZOmypRQiSRNOE~~JneB3SrtyTlcT0TFFh6oBBNZuh4J0xcm8exHFjw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    background-position: center;
}

footer {
    margin-top: 20rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: var(--m-background-color);
    width: 100vw;
    height: 30rem;
    background-image: url(icons/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1.5rem;
}

.footer div img {
    display: flex;
    align-self: flex-start;
    height: 8rem;
}
